@import './_variables.css';
@import './_base.css';
@import './_utility.css';

body {
  display: flex;
  gap: 10px;
}

.box {
  width: 100px;
  height: 100px;
  background: hotpink;
}

.blue {
  background: steelblue;
}
