@import './_variables.css';
@import './_base.css';
@import './_utility.css';

body {
  display: grid;
  place-items: center;
  height: 100vh;
}

.box {
  width: 200px;
  height: 200px;
  background: hotpink;
  transition: transform 1s ease-in-out;
}

.blue {
  background: skyblue;
}

.rotation {
  transform: rotate(45deg);
}

.radius {
  border-radius: 100% 100% 100% 100%;
}
